

//$('#submi').hide();
//$('#here').html("<%= j render :text => @re.inspect %>");
//$('#here').html("<%=  render :text => @re.inspect %>");
$('#here').html("<table>"
  	 + "<tr>  "
      + "   	<th>Product Name <%= j render :text =>@zz.to_s %>  </th>"
      + "      <th> SKU   </th> "
    + " </tr> "
  + "  <% if @re.nil? %> "
  + "  " 	
  + "  <% else @re.each do |j| %> " 
   + "      <tr>          "   
     + "         <td><%= j[:product_name] %> </td> "
   + "           <td>   <%= j[:sku] %> </td> "
    + "     </tr>  "
  + "  <% end %>"
    + "  <% end %>"
+ " </table>");


