

<div class="col-md-4">  </div>
 <div class="col-md-4">
<%= form_for Product.new do |f| %>
  
  <br>
   <%= f.text_field :sku, :placeholder => "SKU" %>
  
  
    <%= f.submit "Go Search", class: "btn btn-primary" %>
  <% end %>

   
    <%= @long_name %>
    <br>
    <!--  <%= @res %> -->
 
  
      <table class="table table-bordered" id="firsttable">
    	 
         <tr>  
         	<th>name   </th>
             <td style="color: #00ff00;"> <%=  @name %> </td>
          </tr>  
           <tr>
    	 	  <td>brand   </td>
              <td><%=   @brand %>  </td>
         </tr>  
         <tr>  <td> country  code </td>
             <td> <%=  @country  %></td>
          </tr>  
         <tr>  <td>Description   </td>
            <td>  <%=  @description %></td>
          </tr>  
         
         <tr><td>Weight   </td>
              <td> <%= @weight  %> </td>
          </tr>  
        <!--  <tr>   <td>Type  </td> 
               <td><%= @type  %> </td>
          </tr> -->  
         <tr>    <td>Manager Name  </td>
              <td> <%= @manager_name  %> </td>
          </tr>  
         <tr>  <td> Manager Code   </td>  
              <td> <%= @manager_code  %> </td>
          </tr> 
          <tr>   <td>Size   </td>
              <td> <%= @size  %></td>
          </tr>  
       </table>     
     </div>
<div class="col-md-4">  </div>
<div class="col-md-12"> <legend></legend> </div>
<div class="col-md-4">  </div>
 <div class="col-md-4">  
  <br>
   <%= form_tag(products_test_path,:method => "get", id: "search-form") do %>
  	       <%= text_field_tag :search, params[:search], placeholder: "name" %>
                    
              <%= submit_tag "Find me", class: "btn btn-info" ,:name => nil , id: "submit_search"%>
	<% end %>
  <br>
  <table class="table  ">
  	 <tr>  
         
         	<th>Product Name   </th>
            <th> SKU   </th>
     </tr> 
   <% if @re.nil? %>
     <% puts"a" %>    	
    <% else @re.each do |j| %> 
         <tr>  
             
              <td><%= j[:product_name] %> </td>
              <td>   <%= j[:sku] %> </td>
         </tr>  
    <% end %>
  <% end %>
</table>

</div>


<div class="col-md-4"> <div id="here">ddddd</div> </div>


<script>

$( document ).ready(function()
 {
    //$("#search").focus();
 });


 $("#search").keyup(function(e) 
 {
   console.log(e.which)
    var value = $(this).val();
    if ( value.length > 4 && e.which != 8 && e.which != 32) 
         {
          $( "#submit_search").click();
        }
 });
</script>
 



 <%= form_tag(products_ajaxcall_path, id: "searchajax", remote: true )do %>
           <%= text_field_tag :search, params[:search], placeholder: "name" %>
                    
              <%= submit_tag "Find me", class: "btn btn-info" ,:name => nil , id: "submi"%>
  <% end %>

 

